
  
/* .fill{
    transition: width 1s ease-in-out;
}

.progress div.fill{
    width: 10%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.9s;
} */

